@import "src/app/shared/styles/variables";

.header-container {
  display: flex;
  height: $header-height;
  overflow: hidden;
  background-color: $white-2;
  width: 100%;
  position: relative;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 10%;

    .links {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .link {
        font-weight: normal;
        cursor: pointer;
        //padding: 12px 20px;
        //border-radius: 6px;

        &:hover {
          font-weight: bold;
          color: $primary;
          //background-color: $white-1;
        }
      }
    }
  }
}
