@import "app/shared/styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,300&family=Roboto:wght@100;300&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "~ngx-bootstrap/datepicker/bs-datepicker";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: initial;
}

body {
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: $white-1;
}
